body {
  background-color: #f4f4f4;
}

.cv-container {
  display: flex;
  max-width: 1100px;
  margin: 40px auto;
  background: white;
}

/* LEFT */
.sidebar {
  width: 30%;
  background: #886e6e00;
  padding: 30px;
}

.sidebar h1 {
  font-size: 32px;
  margin-bottom: 10px;
}