body {
  background-color: #f4f4f4;
}

.cv-container {
  display: flex;
  max-width: 1100px;
  margin: 40px auto;
  background: white;
}

/* LEFT */
.sidebar {
  width: 30%;
  background: #886e6e00;
  padding: 30px;
}

.sidebar h1 {
  font-size: 32px;
  margin-bottom: 10px;
}
.sidebar p, .sidebar li {
  font-size: 14px;
  margin-bottom: 6px;
}

.sidebar ul {
  list-style: disc;
  margin-left: 18px;
}

/* RIGHT */
.content {
  width: 70%;
  padding: 30px 40px;
}

.content section {
  margin-bottom: 30px;
}

.content h2 {
  font-size: 18px;
  margin-bottom: 15px;
  border-bottom: 2px solid #999;
}

.item {
  margin-bottom: 12px;
}

.item h3 {
  font-size: 15px;
}

.item span {
  font-size: 13px;
  color: #555;
}

.content ul {
  margin-left: 18px;
}

.content li {
  margin-bottom: 8px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .cv-container {
    flex-direction: column;
  }

  .sidebar, .content {
    width: 100%;
  }
}